<div class="login-body">

    <!-- Login/Register Form -->
    <form action="/login" method="post">
        <div class="register-container">
            <h2>Login to Your Account</h2>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Enter password">
            </div>
            <div class="btn-container">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
    </form>
        <div class="register-note">
            <span>Don't have an account?</span>
            <button class="btn btn-secondary" onclick="window.location.href = '/register'">Register</button>
        </div>
        <!-- Social Media Login Section -->
    </div>
</div>
