<!--news details-->
<div class="container">
    <header>
        <h1 class="heading-1">News Titles</h1>
        <div class="sub-heading">
            <p>Monday <span>December 9th, 2024</span></p>
            <p class="imortent">You right to know</p>
        </div>
    </header>

    <div class="main">
        <div class="home">
            <div class="left">
                <img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="Paper Photos">

                <h2 class="heading-2">
                    Military plane crashes in Binh Dinh, two pilots missing
                </h2>
            </div>

            <div class="right">
                <h3 class="heading-3">
                    5 random news
                </h3>
                <div class="lists">
                    <div class="list">
                        <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="photo 1"></a>
                        <p><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, sunt.</a></p>
                    </div>

                    <div class="list">
                        <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="photo 1"></a>
                        <p><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, sunt.</a></p>
                    </div>

                    <div class="list">
                        <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="photo 1"></a>
                        <p><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, sunt.</a></p>
                    </div>

                    <div class="list">
                        <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="photo 1"></a>
                        <p><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, sunt.</a></p>
                    </div>

                    <div class="list">
                        <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="photo 1"></a>
                        <p><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, sunt.</a></p>
                    </div>
                </div>
            </div>
        </div>

        <article>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Odit veritatis quae quas? Sit, quod perspiciatis sapiente
                possimus, quos dolore quas inventore officiis nostrum in consequ
                atur nam molestiae. Cupiditate sint consequuntur enim numquam, it
                aque doloribus cumque eveniet nihil expedita error officiis?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing el
                it. Hic quidem ea nobis explicabo magni, enim numqu
                am accusamus rerum delectus expedita autem! Vitae u
                t qui aut culpa odio porro quia totam.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Voluptatibus, ipsam officia perferendis dicta inventore sequi aliquid nisi laudantium
                reiciendis possimus!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, placeat. Doloremque dicta mollitia ex,
                modi quas esse ipsa sapiente quod nisi consequatur, dolores asperiores, id nobis temporibus. Dolores
                beatae facere at repudiandae quasi delectus, ullam fugit eius reiciendis quidem veniam, voluptatibus nam
                neque, suscipit voluptate illum natus! Quae, deleniti quas.</p>
        </article>

        <blockquote>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita pariatur repudiandae officia,
            cupiditate officiis in. Nesciunt, est quae debitis eveniet consectetur voluptatibus omnis totam corrupti
            dolorum similique quasi officiis quis atque odit esse error, consequuntur cum facilis explicabo fugit.
            Ducimus quisquam, aliquam nobis optio natus possimus, ab explicabo vitae vero officiis soluta. Fugit
            ratione amet deleniti eveniet tempore ea libero voluptas fugiat, in ipsa. Nihil iste est perspiciatis
            maiores expedita?
        </blockquote>

        <div class="cards">
            <div class="card">
                <div class="heading-4">Title</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nostrum officiis eos eligendi
                    hic sequi tenetur cupiditate doloremque incidunt aperiam amet nisi eaque molestias ab corporis
                    tempora voluptatem vitae quas?</p>
            </div>

            <div class="card">
                <div class="heading-4">Title</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit expedita voluptate repellendus
                    pariatur et voluptatibus animi inventore omnis blanditiis iure?</p>
            </div>

            <div class="card">
                <div class="heading-4">Title</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut delectus suscipit voluptates optio
                    atque praesentium sint magni commodi at nostrum, illum quia eum facilis consequatur vitae est
                    soluta ex animi tempore id temporibus impedit itaque. Beatae ipsam magni ducimus magnam?</p>
            </div>
        </div>
    </div>
</div>

<!--comment-->
<!--upload comment-->
<div class="new-comment">
    <h3>Upload Comment <span>November 14th,2024</span></h3>
    <form action="#" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>

        <label for="comment">Comment</label>
        <textarea id="comment" name="comment" rows="4" required></textarea>

        <button type="submit">Send comment</button>
    </form>
</div>
<!-- Comment section -->
<div class="comments-section">
    <h3>Comment Section</h3>
    <div class="comment">
        <p><strong>Date:</strong> 10/11/2024</p>
        <p><strong>Viewer's name:</strong> MR.Chamber</p>
        <p><strong>Comment:</strong> Great News!</p>
    </div>
    <div class="comment">
        <p><strong>Date:</strong> 09/11/2024</p>
        <p><strong>Viewer's Name:</strong> Mrs.Sage</p>
        <p><strong>Comment:</strong> Great News!</p>
    </div>
</div>