<!--Hiển thị 10 bài viết mới nhất (mọi chuyên mục) carousel boostrap-->
<h2 class="carousel-title">Top 10 newest news of all categories</h2>
<div class="owl-carousel owl-theme">
    <div class="item">
        <article>
            <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg"></a>
            <div>
                <h3>Lorem ipsum dolor sit amet. <span>Nov 14th, 2024</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem
                    earum fugit? Facere veritatis sapiente eveniet quibusdam.</p>
                <p>tag...</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </div>
    <div class="item">
        <article>
            <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg"></a>
            <div>
                <h3>Lorem ipsum dolor sit amet. <span>Nov 14th, 2024</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem
                    earum fugit? Facere veritatis sapiente eveniet quibusdam.</p>
                <p>tag...</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </div>
    <div class="item">
        <article>
            <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg"></a>
            <div>
                <h3>Lorem ipsum dolor sit amet. <span>Nov 14th, 2024</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem
                    earum fugit? Facere veritatis sapiente eveniet quibusdam.</p>
                <p>tag...</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </div>
    <div class="item">
        <article>
            <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg"></a>
            <div>
                <h3>Lorem ipsum dolor sit amet. <span>Nov 14th, 2024</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem
                    earum fugit? Facere veritatis sapiente eveniet quibusdam.</p>
                <p>tag...</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </div>
    <div class="item">
        <article>
            <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg"></a>
            <div>
                <h3>Lorem ipsum dolor sit amet. <span>Nov 14th, 2024</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem
                    earum fugit? Facere veritatis sapiente eveniet quibusdam.</p>
                <p>tag...</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </div>
    <div class="item">
        <article>
            <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg"></a>
            <div>
                <h3>Lorem ipsum dolor sit amet. <span>Nov 14th, 2024</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem
                    earum fugit? Facere veritatis sapiente eveniet quibusdam.</p>
                <p>tag...</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </div>
    <div class="item">
        <article>
            <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg"></a>
            <div>
                <h3>Lorem ipsum dolor sit amet. <span>Nov 14th, 2024</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem
                    earum fugit? Facere veritatis sapiente eveniet quibusdam.</p>
                <p>tag...</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </div>
</div>


<!--Hiển thị top 10 chuyên mục, mỗi chuyên mục 1 bài mới nhất with owl carousel-->
<h2 class="carousel-title">Top 10 categories with 1 newest post</h2>
<div class="owl-carousel owl-theme">
    <div class="item">
        <article>
            <a href="#"><img src="https://i.ibb.co/jvdtGwj/download-2.jpg"></a>
            <div>
                <h3>Lorem ipsum dolor sit amet. <span>Nov 14th, 2024</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem earum
                    fugit? Facere veritatis sapiente eveniet quibusdam.</p>
                <p>World</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </div>
    <div class="item">
        <article>
            <a href="#"><img src="https://i.ibb.co/jvdtGwj/download-2.jpg"></a>
            <div>
                <h3>Lorem ipsum dolor sit amet. <span>Nov 14th, 2024</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem earum
                    fugit? Facere veritatis sapiente eveniet quibusdam.</p>
                <p>Technology</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </div>
    <div class="item">
        <article>
            <a href="#"><img src="https://i.ibb.co/jvdtGwj/download-2.jpg"></a>
            <div>
                <h3>Lorem ipsum dolor sit amet. <span>Nov 14th, 2024</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem earum
                    fugit? Facere veritatis sapiente eveniet quibusdam.</p>
                <p>Sports</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </div>
    <div class="item">
        <article>
            <a href="#"><img src="https://i.ibb.co/jvdtGwj/download-2.jpg"></a>
            <div>
                <h3>Lorem ipsum dolor sit amet. <span>Nov 14th, 2024</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem earum
                    fugit? Facere veritatis sapiente eveniet quibusdam.</p>
                <p>Entertainment</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </div>
    <div class="item">
        <article>
            <a href="#"><img src="https://i.ibb.co/jvdtGwj/download-2.jpg"></a>
            <div>
                <h3>Lorem ipsum dolor sit amet. <span>Nov 14th, 2024</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem earum
                    fugit? Facere veritatis sapiente eveniet quibusdam.</p>
                <p>Health</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </div>
    <div class="item">
        <article>
            <a href="#"><img src="https://i.ibb.co/jvdtGwj/download-2.jpg"></a>
            <div>
                <h3>Lorem ipsum dolor sit amet. <span>Nov 14th, 2024</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem earum
                    fugit? Facere veritatis sapiente eveniet quibusdam.</p>
                <p>Science</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </div>
    <div class="item">
        <article>
            <a href="#"><img src="https://i.ibb.co/jvdtGwj/download-2.jpg"></a>
            <div>
                <h3>Lorem ipsum dolor sit amet. <span>Nov 14th, 2024</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem earum
                    fugit? Facere veritatis sapiente eveniet quibusdam.</p>
                <p>Business</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </div>
    <div class="item">
        <article>
            <a href="#"><img src="https://i.ibb.co/jvdtGwj/download-2.jpg"></a>
            <div>
                <h3>Lorem ipsum dolor sit amet. <span>Nov 14th, 2024</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem earum
                    fugit? Facere veritatis sapiente eveniet quibusdam.</p>
                <p>Travel</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </div>
    <div class="item">
        <article>
            <a href="#"><img src="https://i.ibb.co/jvdtGwj/download-2.jpg"></a>
            <div>
                <h3>Lorem ipsum dolor sit amet. <span>Nov 14th, 2024</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem earum
                    fugit? Facere veritatis sapiente eveniet quibusdam.</p>
                <p>Politics</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </div>
    <div class="item">
        <article>
            <a href="#"><img src="https://i.ibb.co/jvdtGwj/download-2.jpg"></a>
            <div>
                <h3>Lorem ipsum dolor sit amet. <span>Nov 14th, 2024</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem earum
                    fugit? Facere veritatis sapiente eveniet quibusdam.</p>
                <p>Education</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </div>
</div>

<!--Hiển thị 3-4 bài viết nổi bật nhất trong tuần qua
        Hiển thị 10 bài viết được xem nhiều nhất (mọi chuyên mục) -->
<div class="custom-container">
    <!-- Left Column -->
    <section class="main-container-left">
        <h2>Top News of the Week (3-4 news)</h2>

        <!-- Top Left Container -->
        <div class="container-top-left">
            <article>
                <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="Top News"></a>
                <div>
                    <h3>Lorem ipsum dolor sit amet. <span>Nov 14th, 2024</span></h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea sint, nisi rem earum
                        fugit? Facere veritatis sapiente eveniet quibusdam.</p>
                    <p>tag...</p>
                    <a href="#">Read More</a>
                </div>
            </article>
        </div>

        <!-- Bottom Left Container -->
        <div class="container-bottom-left">
            <article>
                <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="Bottom News"></a>
                <div>
                    <h3>Lorem ipsum dolor sit amet.<span>Nov 14th, 2024</span></h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi iure modi animi cupiditate.
                        Explicabo, nihil?</p>
                    <p>tag...</p>
                    <a href="#">Read More</a>
                </div>
            </article>

            <article>
                <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="Bottom News"></a>
                <div>
                    <h3>Lorem ipsum dolor sit amet.<span>Nov 14th, 2024</span></h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi iure modi animi cupiditate.
                        Explicabo, nihil?</p>
                    <p>tag...</p>
                    <a href="#">Read More</a>
                </div>
            </article>
            
        </div>
    </section>

    <!-- Right Column -->
    <section class="main-container-right">
        <h2>Top News (10 news)</h2>

        <article>
            <h4>tag...</h4>
            <div>
                <h2>Lorem ipsum dolor sit amet.<span>Nov 14th, 2024</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>
                <a href="#">Read More</a>
            </div>
            <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="Right News"></a>
        </article>

        <article>
            <h4>tag...</h4>
            <div>
                <h2>Lorem ipsum dolor sit amet.<span>Nov 14th, 2024</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>
                <a href="#">Read More</a>
            </div>
            <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="Right News"></a>
        </article>

        <article>
            <h4>tag...</h4>
            <div>
                <h2>Lorem ipsum dolor sit amet.<span>Nov 14th, 2024</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>
                <a href="#">Read More</a>
            </div>
            <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="Right News"></a>
        </article>

        <article>
            <h4>tag...</h4>
            <div>
                <h2>Lorem ipsum dolor sit amet.<span>Nov 14th, 2024</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>
                <a href="#">Read More</a>
            </div>
            <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="Right News"></a>
        </article>

        <article>
            <h4>tag...</h4>
            <div>
                <h2>Lorem ipsum dolor sit amet.<span>Nov 14th, 2024</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>
                <a href="#">Read More</a>
            </div>
            <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="Right News"></a>
        </article>

        <article>
            <h4>tag...</h4>
            <div>
                <h2>Lorem ipsum dolor sit amet.<span>Nov 14th, 2024</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>
                <a href="#">Read More</a>
            </div>
            <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="Right News"></a>
        </article>

        <article>
            <h4>tag...</h4>
            <div>
                <h2>Lorem ipsum dolor sit amet.<span>Nov 14th, 2024</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>
                <a href="#">Read More</a>
            </div>
            <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="Right News"></a>
        </article>

        <article>
            <h4>tag...</h4>
            <div>
                <h2>Lorem ipsum dolor sit amet.<span>Nov 14th, 2024</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>
                <a href="#">Read More</a>
            </div>
            <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="Right News"></a>
        </article>

        <article>
            <h4>tag...</h4>
            <div>
                <h2>Lorem ipsum dolor sit amet.<span>Nov 14th, 2024</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>
                <a href="#">Read More</a>
            </div>
            <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="Right News"></a>
        </article>

        <article>
            <h4>tag...</h4>
            <div>
                <h2>Lorem ipsum dolor sit amet.<span>Nov 14th, 2024</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>
                <a href="#">Read More</a>
            </div>
            <a href="#"><img src="https://i.ibb.co/QmVTWFS/cat-2.jpg" alt="Right News"></a>
        </article>
        
    </section>
</div>