.category_nav {
    background: #131A22;
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    gap: 10px; /* Adjust the spacing between the items */
    list-style: none; /* Ensure no bullets on list items */
}

.category_nav li {
    color: white;
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.category_nav li a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.category_nav svg {
    vertical-align: middle; /* Ensures icons align properly with text */
}